<!-- views/index.ejs -->
<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal -- Create Company Page</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="test.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/landingpage"> HOME</a></li>
            <li><a href="/create"> CREATE</a></li>
            <li><a href="/edit"> EDIT</a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
            <li><a href="/logout"> LOGOUT</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid vertical-center">

	<div class="center-block">
		<h1 id="login-header">CREATE COMPANY PAGE</h1>


		<div class="form-group stack">
            <input type="text" class="form-control input-box" name="name" placeholder="Company Name">
        </div>
        <div class="form-group stack">
            <input type="text" class="form-control input-box" name="domain" placeholder="Comany Domain">
        </div>
        <div class="form-group stack">
            <input type="text" class="form-control input-box" name="co_email" placeholder="Email">
        </div>
        <div class="form-group stack">
            <input type="text" class="form-control input-box" name="co_password" placeholder="Password">
        </div>

		<div class="submit"><a href="#">CREATE</a></div>
	</div>


</div>
</body>
</html>