<!-- views/edit.ejs -->
<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal -- Edit Pages</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-fixed-top">
 	<div class="container-fluid">
    	<ul class="nav navbar-nav navbar-right">
			<li class="disabled"><a href="#">WELCOME, <%= user.username%></a></li>
    		<li><a href="/landingpage"> HOME</a></li>
            <li><a href="/create"> CREATE</a></li>
            <li><a href="/edit"> EDIT</a></li>
            <li><a href="/newadmin"> NEW ADMIN</a></li>
        	<li><a href="/set2fa"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      	<li><a href="/logout"> LOGOUT</a></li>
    	</ul>
  	</div>
</nav>

<div class="container-fluid vertical-center">

	
	<div class="center-block">
		<h1 id="login-header">COMPANIES</h1>
		
		<!-- show any messages that come from an edit -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger stack" style="margin-bottom: 20px"><%= message %></div>
        <% } %>
		
		<!-- list of companies -->
		<div id="scroll" style="margin-bottom: 20px">
		<% for (var i in companies) { %>
			<div class="text-center"><a href="/edit/<%= companies[i] %>"> <%= companies[i] %></a></div>
		<% } %>
		</div>

	</div>


</div>
</body>
</html>