<!-- views/edit.ejs -->
<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal -- Edit Pages</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-fixed-top">
 	<div class="container-fluid">
    	<ul class="nav navbar-nav navbar-right">
    		<li><a href="/landingpage"> HOME</a></li>
            <li><a href="/create"> CREATE</a></li>
            <li><a href="/edit"> EDIT</a></li>
        	<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      	<li><a href="/logout"> LOGOUT</a></li>
    	</ul>
  	</div>
</nav>

<div class="container-fluid vertical-center">

	<div class="center-block">
		<h1 id="login-header">EDIT COMPANY PAGE</h1>

		<% for (var i in companies) { %>
			<p class="text-center"><%= companies[i] %></p>
		<% } %>


		<div class="clickable"><button id="create">EDIT</button></div>
	</div>


</div>
</body>
</html>