<!-- views/landingpage.ejs -->
<!--
	Copyright 2017, Allison Kuo, Daniel Kho, Jeremy Rotman
	
	This file is part of ArientoSend.

    ArientoSend is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    ArientoSend is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with ArientoSend.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body class="gradient-background">
<nav class="navbar navbar-fixed-top">
 <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
		<li class="disabled"><a href="#">WELCOME, <%= user.username%></a></li>
    	<li><a href="/set2fa"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      	<li><a href="/logout"> LOGOUT</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid vertical-center">
	
	<div class="center-block">

		<% if (message.length > 0) { %>
			<div class="alert alert-success center-block text-center" style="margin-bottom: 50px; width: 300px"><%= message %></div>
		<% } %>

		<a href="/create" class="box">CREATE PAGE</a>
		<a href="/edit" class="box">EDIT PAGE</a>

		<a href="/newadmin" class="box">ADD ADMIN</a>
		<!-- <a href="/set2fa" class="box">SETUP 2FA</a> -->
	</div>
	
</div>

</body>
</html>