<!-- views/newadmin.ejs -->
<!-- Written by Daniel Kho -->
<!-- Something Something GNU GPL v3 -->
<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal - Add Admin Account</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
			<li class="disabled"><a href="#">WELCOME, <%= user.username%></a></li>
            <li><a href="/landingpage"> HOME</a></li>
            <li><a href="/create"> CREATE</a></li>
            <li><a href="/edit"> EDIT</a></li>
            <li><a href="/newadmin"> NEW ADMIN</a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
            <li><a href="/logout"> LOGOUT</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid vertical-center">
	
	<div class="center-block">
		<h1 id="login-header">CREATE ADMIN ACCOUNT</h1>

	    <!-- show any messages that come back with authentication -->
	    <% if (message.length > 0) { %>
	        <div class="alert alert-danger"><%= message %></div>
	    <% } %>
		
		<!-- ACCOUNT INFORMATION -->
		<form action="/newadmin" method="post">
			<div class="form-group stack">
	            <input type="text" class="form-control input-box" name="username" placeholder="Username">
	        </div>
			<div class="form-group stack">
	            <input type="text" class="form-control input-box" name="email" placeholder="Email">
	        </div>
	        <div class="form-group stack">
	            <input type="password" class="form-control input-box" name="password" placeholder="Password">
	        </div>
			<div class="form-group stack">
	            <input type="password" class="form-control input-box" name="password2" placeholder="Confirm Password">
	        </div>

	        <div class="text-center"><button type="submit" id="submit"><img src="/img/arrow.png" id="arrow"/></button></div>
		</form>
	</div>


</div>
</body>
</html>