<!-- views/index.ejs -->
<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid vertical-center">
	
	<div class="col-sm-3 center-block">
		<h1 id="login-header">FAIL</h1>

	    <!-- show any messages that come back with authentication -->
	    <% if (message.length > 0) { %>
	        <div class="alert alert-danger"><%= message %></div>
	    <% } %>

	</div>


</div>
</body>
</html>